.create-room-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    .field {
        width: 100%;
    }

    .button-bar button {
        margin-right: 8px;
    }

    .answers-group {
        padding-bottom: 20px;
    }
}