    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Create Room
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2 class="mat-h2">Create A Room</h2>
        <form class="create-room-form" [formGroup]='createRoomForm' (ngSubmit)="onSubmit()">
            <mat-form-field class="field">
                <input matInput placeholder="Enter your question" formControlName='questionField' required>
            </mat-form-field>
            <div formArrayName='answers' class="answers-group">
                <h3 class="mat-h3">Answers</h3>
                <mat-toolbar>
                    <div *ngFor="let answer of answers.controls; index as i; let last = last">
                        <mat-toolbar-row>
                            <mat-form-field class="field">
                                <input matInput placeholder="Enter an answer" formControlName="{{ i }}" required>
                            </mat-form-field>
                            <button mat-icon-button *ngIf="i !== 0" (click)="removeAnswer(i)">
                                <mat-icon class="delete-answer" aria-hidden="false" aria-label="Delete Answer">delete
                                </mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </div>
                </mat-toolbar>
            </div>
            <div class="button-bar">
                <button mat-flat-button color="accent" (click)="addAnswer()" [disabled]="answers.length == 10">Add
                    Answer</button>
                <button mat-flat-button type="submit" [disabled]="!createRoomForm.valid" color="primary">Create
                    Room</button>
            </div>
        </form>
    </mat-expansion-panel>