.toolbar {
    color: white;
    background-color:transparent;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
     -ms-animation: fadein 6s; /* Internet Explorer */
      -o-animation: fadein 6s; /* Opera < 12.1 */
         animation: fadein 6s;;
}

.toolbarButton {
    height: 64px;
    width: 100px;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
     -ms-animation: fadein 6s; /* Internet Explorer */
      -o-animation: fadein 6s; /* Opera < 12.1 */
         animation: fadein 6s;;
    cursor: pointer;
    h1 {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        height: 100%;
        line-height: 64px;
    }
}

.rightAlign {
    right: 0;
    margin-left: auto;
}